.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.card__img {
  width: 95%;
  height: auto;
  border-radius: 5%;
  display: inline-block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.card__img-container {
  margin-left: 5%;
  margin-bottom: 5%;
}
.card__info-generic,
.card__info-menu-name {
  font-size: 1rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.card__info-price {
  font-size: 0.75rem;
  color: hsl(14, 86%, 42%);
}
.card__info-generic {
  font-weight: 400;
}

.card__info {
  display: inline-block;
  align-self: center;
  margin-left: 5%;
  margin-right: auto;
}
.card__add-to-cart {
  border-radius: 25px;
  padding: 25px 35px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 30%;
  font-size: 0.85rem;
}
.card__add-to-cart-btn {
  height: auto;
}
.card__item-added {
  background-color: hsl(14, 86%, 42%);
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}
.hidden {
  display: none;
}
.card__add-to-cart-container {
  display: flex;
  width: 200px;
  gap: 5%;
  height: auto;
  background-color: hsl(14, 86%, 42%);
  justify-content: space-between;
  border-radius: 30px;
}
